html,body {
	height: 100%;
}

body {
	padding-top: 50px;
}

.page {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -61px;
}

.page-body {
	padding-top: 20px;
}

#push,.page-footer {
	height: 60px;
}

.page-footer {
	width: 100%;
	background-color: #F5F5F5;
}

@media(max-width:767px) {
	.page-footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

.container .credit {
	margin: 20px 0;
}

.dropdown:hover .dropdown-menu {
    display: block;
 }
 
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #000000;
}

.tree > li > label {
  padding:10px 15px;
}

.tree > li > ul > li > a {
  color:#cc0000;
  font-size:10pt;
  margin-left:15px;
}

.noBackground tr,.noBackground td,.noBackground table {
	background-color: transparent !important;
}

.noBorder tr,.noBorder td,.noBorder table {
	border-width: 0px !important;
	border: none !important;
}

.shortColumn {
	width: 44px !important;
}

.panel-default {
	border-color: #333333;
}

.panel-default > .panel-heading {
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	background-color: #222222;
	border-color: #222222;
	color: #FFFFFF;
}

.panel-no-margin {
	margin-bottom: 0px;
}

.dialog-label {
	padding-top: 10px;
}

.dialog-group div,
.dialog-group label {
	margin-bottom: 5px;
}

.spacing-left-5 {
	margin-left: 5px;
}

.spacing-left-10 {
	margin-left: 10px;
}

.spacing-left-15 {
	margin-left: 15px;
}

.spacing-left-50 {
	margin-left: 50px;
}

.spacing-right-5 {
	margin-right: 5px;
}

.spacing-right-10 {
	margin-right: 10px;
}

.spacing-right-15 {
	margin-right: 15px;
}

.spacing-right-50 {
	margin-right: 50px;
}